/* General typography */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
}

/* Navbar typography and styling */
/* the whole navBar */
#navBar {
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 30, 30);
  height: 14vh;
  padding: 0;
  margin: 0;
}
/* h1 in the navBar  */
#navBar > h1{
  font-size: 25px;
  color: gray;
  margin-bottom: 16px;
}
/* ul in the navBar */
#navBar ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* li in the navBar */
#navBar ul > li{
  list-style: none;
  
}

/* a in the navBar */
#navBar ul li > a {
  text-decoration: none;
  padding: 10px;
  font-size: 22px;
  color: gray;

}

/* a:hover styling */
#navBar ul li > a:hover{
  color:green;
  border-bottom: 4px solid green;
  
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<end of navBar */

/*  the Main Page styling >>>>>. */
.sec{
  width: 100%;
  height: 90vh;
  background-color: rgb(17, 17, 17);
}

/* the chat section for texting  */
#chat{
  padding-top: 10px;
}
/* the div with .person */
#chat > .person{
   display: flex;
   justify-content: space-between;
   padding: 8px;
}

/*the Image  or Profile pic */
#chat .person  .personInfo> img{
  width: 45px;
  height: 40px;
  border-radius: 50%;
}

/* the personInfo styling */
.personInfo{
  display: flex;
  margin: 3px;

}

/* the info- p  */
.info-p{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.info-p .personName{
  font-size: 18px;
  font-weight: 600;
  justify-content: flex-start;
  margin-bottom: 4px;
}

.info-p .last-msg{
  justify-content: flex-end;
}